 <!-- Modal -->
 <div class="add-event-modal">
    <div class="add-event-modal-content">
        <span class="add-event-close">&times;</span>
        <form action="/add-event" method="post" class="add-event-form" onsubmit="return validateForm()" enctype= "multipart/form-data">
            <div class="create-event-form">
                <h2>Create A Event!</h2>
                
                    <label for="head">Event Name: </label>
                    <input type="text" name="eventName" id="head" placeholder="Event Name" required/>
                
                
                    <label for="head-img">Image: </label>
                    <input class="img-input" type="file" accept="image/*" name="image" id="head-img" required/>
                
                
                    <label for="date-input">Choose Date:</label>
                    <input type="date" id="date-input" name="date" required>
                
              
                    <label for="locationInfo">Location: </label>
                    <input type="text" name="location" id="locationInfo" placeholder="Location" required/>
              
              
                    <input class="add-event-button" type="submit" value="Create!" />
              
            </div>
          </form>
    </div>
</div>