<nav class="navbar nav-flex">
    <div class="logo">
    <img src="/assests/imgs/ÇakBilet.png" alt="logo">
</div>

<div class="login">
    <img src="/assests/svgs/box-arrow-in-right.svg" alt="login icon">
    <form action="/log-in" method="get">
        <button type="submit">Log In</button>
    </form>
    <img src="/assests/svgs/person.svg" alt="sign in icon">
    <form action="/sign-in" method="get">
        <button type="submit">Sign In</button>
    </form>
</div>

</nav>