<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ÇakBilet</title>

    <link rel="stylesheet" href="styles/sign-in.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <!-- navbar section -->
    <%-include("partials/navbar.ejs")  %>

    <main>
    <div class="login-grid-container">
        <div class="login-item login-item1">
            <h3 class="login-que login-que1">Don't have a ÇakBilet account?</h3>
            <h3 class="login-que">Create by clicking here!</h3> <br/>
            <h2 class="login-que login-que2">Don't miss the fun, discounted tickets are waiting for you.</h2>
            <form action="/sign-in" method="get">
                <button type="submit">Sign Up Now</button>
            </form>
        </div>
        <div class="login-item login-item2">
            <h2 class="login-title">Log In!</h2>
            <form action="/login-info" method="post" class="login-form">
                <label for="email">Enter Your Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter Your E-Mail" required> <img src="./assests/svgs/envelope.svg" alt="mail icon" style="opacity: 0.5; float: right; position: relative; bottom: 2rem;"><hr/>
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd" placeholder="Enter Your Password" required> <img src="./assests/svgs/file-lock.svg" alt="lock icon" style="opacity: 0.5; float: right; position: relative; bottom: 2rem;"><hr/>
                <input type="submit" value="Log In" class="submit-button">
            </form>
        </div>
    </div>
    </main>

    <footer>&copy; 2024 November Duygu Kara</footer>
</body>
</html>